.root {
  width: 100%;
  max-width: calc(100% - (var(--page-side-padding) * 2));
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (min-width: 480px) {
  .root {
    padding: 120px 0;
  }
}

@media screen and (min-width: 1024px) {
  .root {
    padding: 120px 0 100px;
  }
}

@media screen and (min-width: 1272px) {
  .root {
    max-width: var(--max-content-width);
  }
}

@media screen and (min-width: 2560px) {
  .root {
    padding: 200px 0;
  }
}

.modalImage {
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
}
