.root {
  display: grid;
  justify-content: center;
  grid-template-columns: 360px;
  gap: 100px 14px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .root {
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  }
}

@media screen and (min-width: 1280px) {
  .root {
    gap: 100px 30px;
  }
}
