.root {
  width: calc(100% - 16px * 2);
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (min-width: 480px) {
  .root {
    padding-top: 120px;
  }
}

@media screen and (min-width: 768px) {
  .root {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (min-width: 1272px) {
  .root {
    max-width: 1184px;
  }
}
