.root {
  width: 100%;
  min-height: 830px;
  padding-top: 150px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: calc(100% - (var(--page-side-padding) * 2));
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.subTitle {
  letter-spacing: -0.01em;
  margin: 16px 0 24px 0;
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 33px;
}

.description {
  letter-spacing: -0.01em;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .root {
    min-height: 1100px;
    padding-top: 306px;
  }
  .container {
    padding-left: 120px;
  }
  .title {
    font-size: 20px;
  }
  .subTitle {
    font-size: 36px;
  }
  .infoWrapper {
    padding-left: 44px;
  }
  .description {
    max-width: 556px;
  }
}

@media screen and (min-width: 1272px) {
  .root {
    min-height: 1041px;
    padding-top: 137px;
  }
  .container {
    padding-left: 413px;
  }

  .subTitle {
    margin: 29px 0 24px 0;
    max-width: 770px;
    font-size: 56px;
  }
  .infoWrapper {
    padding-left: 62px;
  }
  .description {
    max-width: 590px;
  }
}
