.root {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100dvh;
  padding-bottom: 100px;
  overflow: hidden;
}

.container {
  max-width: calc(100% - (var(--page-side-padding) * 2));
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container { padding-left: 120px; }
}

@media screen and (min-width: 1024px) {
  .container { padding-left: 336px; }
}

@media screen and (min-width: 1272px) {
  .container {
    max-width: var(--max-content-width);
    padding-left: 414px;
  }
}

.title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: rgb(var(--rgb-foreground), 0.9)
}

@media screen and (min-width: 768px) {
  .title { font-size: 18px; }
}

.subtitle {
  margin-top: 16px;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 768px) {
  .subtitle { font-size: 36px; }
}

@media screen and (min-width: 1024px) {
  .subtitle {
    margin-top: 29px;
    font-size: 48px;
  }
}

.innerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-top: 24px;
  padding-left: 44px;
}

@media screen and (min-width: 768px) {
  .innerWrapper { gap: 36px; }
} 

@media screen and (min-width: 1272px) {
  .innerWrapper { padding-left: 60px; }
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(var(--rgb-foreground), 0.9)
}

@media screen and (min-width: 768px) {
  .text {
    max-width: 556px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1272px) {
  .text { max-width: 590px; }
}

.ribbon { position: absolute; }

.ribbon:nth-of-type(1) {
  left: calc(50% - 27px);
  bottom: 52px;
  transform: translate(-50%) rotate(4deg);
}

.ribbon:nth-of-type(2) {
  left: calc(50% - 71px);
  bottom: 83px;
  transform: translate(-50%) rotate(18deg);
}

@media screen and (min-width: 768px) {
  .ribbon:nth-of-type(1) { bottom: 133px; }
  .ribbon:nth-of-type(2) { bottom: 154px; }
}

@media screen and (min-width: 1272px) {
  .ribbon:nth-of-type(1) { bottom: 52px;}
  .ribbon:nth-of-type(2) { bottom: 83px; }
}

@media screen and (min-width: 2560px) {
  .ribbon { display: none; }
}
