.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  background: url('/images/story-background.png') no-repeat center;
  background-size: cover;
}

.text {
  max-width: 485px;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .text {
    font-size: 14px;
    padding: 0 24px;
  }
}
