.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .root {
    max-width: unset;
  }
}

.submitButton {
  position: relative;
}

@media screen and (min-width: 480px) {
  .submitButton {
    max-width: 450px;
    margin: 0 auto;
  }
}

.error {
  text-align: center;
  min-height: 14px;
  margin-top: 4px;
  font-size: 14px;
  line-height: 2;
  color: rgb(var(--rgb-error));
}

@media screen and (min-width: 768px) {
  .error {
    line-height: 1;
  }
}
