.root {
  width: 100%;
  max-width: calc(100% - (var(--page-side-padding) * 2));
  margin: 100px auto 0;
  list-style: none;
  border-top: 1px solid rgb(var(--rgb-inactive), 0.25);
  border-bottom: 1px solid rgb(var(--rgb-inactive), 0.25);
}
@media screen and (min-width: 1272px) {
  .root {
    max-width: unset;
  }
}

.item:not(:last-child) {
  border-bottom: 1px solid rgb(var(--rgb-inactive), 0.25);
}
