.root {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .root {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border-bottom: 1px solid rgba(var(--rgb-foreground-secondary), 0.5);
    border-top: 1px solid rgba(var(--rgb-foreground-secondary), 0.5);
  }
}

@media screen and (min-width: 1180px) {
  .root {
    gap: 68px;
  }
}

.item {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1180px) {
  .item {
    flex-basis: calc((100% - (68px * 2)) / 3);
  }

  .item:not(:first-of-type)::before {
    content: '';
    width: 1px;
    height: 100%;
    display: block;
    background-color: rgb(var(--rgb-foreground-secondary), 0.5);
    position: absolute;
    top: 0;
    left: -34px;
  }
}
