.root {
  grid-area: trackList;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0 var(--page-side-padding);
  list-style: none;
}

@media screen and (min-width: 480px) {
  .root {
    padding: 0;
  }
}
