.root {
  /* Local Variables */
  --desktop-gap: var(--image-gallery-desktop-gap);

  width: 100%;
  max-width: calc(100% - 16px * 2);
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (min-width: 768px) {
  .root {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (min-width: 1024px) {
  .root {
    padding: 70px 0 50px;
  }
}

@media screen and (min-width: 1272px) {
  .root {
    max-width: 1184px;
  }
}

@media screen and (min-width: 2560px) {
  .root {
    padding: 200px 0 100px;
  }
}

.innerWrapper {
  position: relative;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 12px 16px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .list {
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .list {
    gap: 14px;
  }
}

@media screen and (min-width: 1272px) {
  .list {
    gap: var(--desktop-gap);
  }
}

.listItem {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.lightboxButton {
  z-index: 2;
}

@media screen and (min-width: 1272px) {
  /* First column */
  .listItem:nth-of-type(4n + 1) .lightboxButton {
    left: 0;
    width: calc(100% + var(--desktop-gap) / 2);
  }

  /* Middle columns */
  .listItem:nth-of-type(4n + 2) .lightboxButton,
  .listItem:nth-of-type(4n + 3) .lightboxButton {
    left: calc(-1 * var(--desktop-gap) / 2);
    width: calc(100% + var(--desktop-gap));
  }

  /* Fourth column */
  .listItem:nth-of-type(4n + 4) .lightboxButton {
    left: calc(-1 * var(--desktop-gap) / 2);
    width: calc(100% + var(--desktop-gap) / 2);
  }

  /* First row */
  .listItem:nth-of-type(1) .lightboxButton,
  .listItem:nth-of-type(2) .lightboxButton,
  .listItem:nth-of-type(3) .lightboxButton,
  .listItem:nth-of-type(4) .lightboxButton {
    top: 0;
    height: calc(100% + var(--desktop-gap) / 2);
  }

  /* Second row */
  .listItem:nth-of-type(5) .lightboxButton,
  .listItem:nth-of-type(6) .lightboxButton,
  .listItem:nth-of-type(7) .lightboxButton,
  .listItem:nth-of-type(8) .lightboxButton {
    top: calc(-1 * var(--desktop-gap) / 2);
    height: calc(100% + var(--desktop-gap) / 2);
  }
}
