.root {
  position: relative;
  left: 0;
  display: grid;
  grid-template-columns: 58px 8fr 1fr;
  align-items: center;
  gap: 16px;
  padding: 17px 16px;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(var(--rgb-foreground));
  background-color: transparent;
  transition: all 0.7s ease;
}

.root.isPlaying {
  color: rgb(var(--rgb-background));
  background-color: rgb(var(--rgb-accent));
}

@media screen and (min-width: 1280px) {
  .root {
    grid-template-columns: 16px 8fr 1fr;
    padding: 17px 70px 17px 37px;
  }

  .root.isPlaying {
    width: calc(100% - 38px);
    left: 38px;
  }
}

.innerWrapper {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .innerWrapper {
    position: relative;
    display: inline-block;
  }
}

.playToggle,
.equalizer {
  width: 16px;
  height: 16px;
}

.playToggle {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

@media screen and (min-width: 1280px) {
  .playToggle {
    padding-left: 0;
    opacity: 0;
  }
}

.name {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.duration {
  margin-left: auto;
}

/* Desktop hover effects */
@media screen and (min-width: 1280px) {
  .root:hover, .root:focus-within {
    width: calc(100% - 38px);
    left: 38px;
    color: rgb(var(--rgb-background));
    background-color: rgb(var(--rgb-accent));
  }

  .root:hover .number, .root:focus-within .number {
    display: none;
  }
  .root:hover .playToggle, .root:focus-within .playToggle {
    opacity: 1;
    outline: none;
  }
}
