.root {
  display: grid;
  grid-template-areas:
    'date '
    'venue'
    'city ';
  grid-template-columns: 1fr;
  padding: 15px 4px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  vertical-align: text-bottom;
  background-color: transparent;
  outline: none;
  transition: all 0.7s ease;
}

.root.isPast {
  color: rgb(var(--rgb-inactive), 0.5);
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  cursor: default;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .root {
    grid-template-areas:
      'date venue'
      'city venue';
    grid-template-columns: 260px 1fr;
    column-gap: 80px;
  }
}

@media screen and (min-width: 1272px) {
  .root {
    grid-template-areas: 'date city venue';
    grid-template-columns: 260px 340px 1fr;
    gap: 0;
    padding: 8px 4px 4px;
  }

  .root.isPast {
    text-decoration: none;
  }
  .root.isPast span {
    position: relative;
  }
  .root.isPast span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(var(--rgb-inactive), 0.25);
  }

  .root.isPast .date::before,
  .root.isPast .venue::before {
    width: calc(100% + 4px);
  }

  .root.isPast .date::before {
    left: -4px;
  }
}

.date {
  grid-area: date;
  color: rgb(var(--rgb-inactive));
}

.root.isPast .date {
  color: rgb(var(--rgb-inactive), 0.5);
}

.city {
  grid-area: city;
}

.venue {
  grid-area: venue;
  align-self: flex-end;
}

/* Desktop hover effects */
@media screen and (min-width: 1272px) {
  .root:not(.isPast):hover,
  .root:not(.isPast):focus-visible {
    color: rgb(var(--rgb-background));
    background-color: rgb(var(--rgb-accent));
  }

  .root:not(.isPast):hover .date,
  .root:not(.isPast):focus-visible .date {
    color: rgb(var(--rgb-background));
  }
}
