.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/images/hero-background.png') no-repeat center;
  background-size: cover;
}

.logo {
  width: 200px;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .logo {
    width: 300px;
  }
}
