.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 15px;
  color: rgb(var(--rgb-foreground));
  background-color: unset;
  border: 1px solid rgb(var(--rgb-foreground));
  border-radius: 50%;
  cursor: pointer;
  transition: var(--common-transition);
}

@media screen and (min-width: 1280px) {
  .root {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .root:hover {
    color: rgb(var(--rgb-inactive));
    border-color: rgb(var(--rgb-inactive));
  }

  .root:active { opacity: .7; }
}