.root {
  display: grid;
  grid-template-areas:
    'coverArt '
    'details  '
    'buttons  '
    'trackList';
  grid-template-columns: 1fr;
  gap: 50px 20px;
}

@media screen and (min-width: 480px) {
  .root {
    grid-template-areas:
      'coverArt  details  '
      'coverArt  buttons  '
      'trackList trackList';
    grid-template-columns: 200px 1fr;
    grid-template-rows: max-content min-content max-content;
  }
}

@media screen and (min-width: 768px) {
  .root {
    grid-template-columns: 232px 1fr;
    gap: 40px 20px;
    padding: 50px;
    background-color: rgb(var(--rgb-background-lighter));
    border: 1px solid rgb(var(--rgb-accent), 0.1);
    border-radius: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .root {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      'coverArt details  '
      'coverArt buttons  '
      'coverArt trackList';
  }
}

@media screen and (min-width: 1280px) {
  .root {
    grid-template-columns: 360px 1fr;
    gap: 40px 35px;
    padding: 70px;
  }
}

.imageWrapper {
  grid-area: coverArt;
  align-self: self-start;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detailsWrapper {
  padding: 0 var(--page-side-padding);
}

@media screen and (min-width: 480px) {
  .detailsWrapper {
    align-self: end;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .detailsWrapper {
    margin-left: 38px;
  }
}

.name {
  margin-top: 12px;
  font-size: 36px;
  font-weight: 700;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-top: 7px;
  font-size: 14px;
  line-height: 19.5px;
  font-weight: 500;
  color: rgb(var(--rgb-foreground), 0.8);
}

@media screen and (min-width: 768px) {
  .details {
    gap: 13px;
  }
}

.buttons {
  grid-area: buttons;
  padding: 0 var(--page-side-padding);
}

@media screen and (min-width: 480px) {
  .buttons {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .buttons {
    margin-left: 38px;
  }
}
