.root {
  display: grid;
  grid-template-areas:
    'coverArt '
    'details  '
    'trackList';
  grid-template-columns: 1fr;
  gap: 64px 24px;
}

@media screen and (min-width: 480px) {
  .root {
    grid-template-areas:
      'coverArt  details  '
      'trackList trackList';
    grid-template-columns: 232px 1fr;
    grid-template-rows: max-content min-content;
  }
}

@media screen and (min-width: 768px) {
  .root {
    padding: 36px 24px;
    background-color: rgb(var(--rgb-background-lighter));
    border: 1px solid rgb(var(--rgb-border));
    border-radius: var(--border-radius);
  }
}

@media screen and (min-width: 1024px) {
  .root {
    grid-template-areas:
      'coverArt details  '
      'coverArt trackList';
    grid-template-columns: 300px 1fr;
    gap: 40px 35px;
  }
}

@media screen and (min-width: 1272px) {
  .root {
    grid-template-columns: 360px 1fr;
    padding: 70px;
  }
}

.imageWrapper {
  grid-area: coverArt;
  align-self: self-start;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--page-side-padding);
}

@media screen and (min-width: 480px) {
  .detailsWrapper {
    align-self: center;
    align-items: flex-start;
    padding: 0;
  }
}

@media screen and (min-width: 1272px) {
  .detailsWrapper {
    margin-left: 38px;
  }
}

.name {
  font-size: 36px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .name {
    margin-top: 12px;
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-top: 7px;
  font-size: 14px;
  line-height: 19.5px;
  font-weight: 500;
  color: rgb(var(--rgb-foreground), 0.8);
}

@media screen and (min-width: 768px) {
  .details {
    gap: 13px;
  }
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 48px;
}

@media screen and (min-width: 480px) {
  .buttons {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    gap: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .buttons {
    gap: 48px;
  }
}
