.root {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(var(--rgb-background));
  opacity: 0;
  visibility: hidden;
  transition: var(--common-transition);
}

.root.isOpen {
  z-index: 3;
  opacity: 1;
  visibility: visible;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15vh;
  min-height: 100%;
  padding: 60px var(--page-side-padding) 40px;
}

@media screen and (min-width: 768px) {
  .content {
    gap: 20vh;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  list-style: none;
}

@media screen and (min-width: 414px) {
  .navList {
    gap: 32px;
  }
}

.navLink {
  position: relative;
  top: 0;
  display: inline-block;
  font-family: var(--font-anton);
  font-size: 5.6vh;
  line-height: 0.9;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  text-align: center;
  color: rgb(var(--rgb-foreground));
  text-shadow: 0.2vh 0.2vh 0.2vh rgba(var(--rgb-foreground), 0.4);
  transition: var(--common-transition);
}

.navLink.active {
  color: rgb(var(--rgb-foreground-secondary));
  text-shadow: 0.2vh 0.2vh 0.2vh rgba(var(--rgb-foreground-secondary), 0.4);
}

.toggle {
  position: fixed;
  top: 40px;
  right: var(--page-side-padding);
  z-index: 3;
}

.closeButton {
  position: absolute;
  top: var(--page-side-padding);
  right: var(--page-side-padding);
}

@media screen and (min-width: 1024px) {
  .closeButton {
    top: 16px;
    right: 24px;
  }
}
