.root {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(var(--rgb-background));
  opacity: 0;
  visibility: hidden;
  transition: var(--common-transition);
}

.root.isOpen {
  z-index: 3;
  opacity: 1;
  visibility: visible;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15vh;
  min-height: 100%;
  padding: 60px var(--page-side-padding) 40px;
}

@media screen and (min-width: 768px) {
  .content {
    gap: 20vh;
  }
}

.toggle {
  position: fixed;
  top: 40px;
  right: var(--page-side-padding);
  z-index: 3;
}

.closeButton {
  position: absolute;
  top: var(--page-side-padding);
  right: var(--page-side-padding);
}

@media screen and (min-width: 1024px) {
  .closeButton {
    top: 16px;
    right: 24px;
  }
}
