.root {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100dvh;
  background-color: rgb(var(--rgb-background));
  opacity: 0;
  transition: var(--common-transition);
  visibility: hidden;
}

.root.isOpen {
  z-index: 3;
  opacity: 1;
  visibility: visible;
}

.toggle {
  position: fixed;
  top: 40px;
  right: var(--page-side-padding);
  z-index: 3;
}

.nav { height: 100%; }
