.root {
  position: relative;
  height: 100%;
}

.list {
  position: relative;
  overflow: hidden;
  height: 100%;
  list-style: none;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrowButton.left { left: 16px; }
.arrowButton.right { right: 16px; }

@media screen and (min-width: 1180px) {
  .arrowButton.left { left: -116px;}
  .arrowButton.right { right: -116px; }
}

@media screen and (min-width: 1272px) {
  .arrowButton.left { left: -130px;}
  .arrowButton.right { right: -130px; }
}
