.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

.lightbox,
.dialog {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 3/2;
}

.dialog {
  background-color: rgb(var(--rgb-background));
  border: 1px solid rgb(var(--rgb-border));
  border-radius: var(--border-radius);
  overflow: hidden;
}

.lightbox { position: relative; }

@media screen and (min-width: 2560px) {
  .lightbox, .dialog { max-width: 1200px; }
}

.closeButton {
  position: absolute;
  top: var(--page-side-padding);
  right: var(--page-side-padding);
}

@media screen and (min-width: 1024px) {
  .closeButton {
    top: 16px;
    right: 24px;
  }
}
