.root {
  width: max-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  transition: var(--common-transition);
  cursor: pointer;
}

.primary {
  color: rgb(var(--rgb-accent));
  border: 1px solid rgb(var(--rgb-accent));
  border-radius: 64px;
}

.secondary {
  width: 100%;
  color: rgb(var(--rgb-foreground-secondary));
  border: 1px solid rgb(var(--rgb-foreground-secondary));
  border-radius: var(--border-radius);
}

.secondary:disabled {
  color: rgb(var(--rgb-foreground-secondary), 0.5);
  border: 1px solid rgb(var(--rgb-foreground-secondary), 0.5);
  cursor: auto;
}

@media screen and (min-width: 480px) {
  .primary:focus {
    color: rgb(var(--rgb-background));
    background-color: rgb(var(--rgb-accent));
  }

  .secondary:focus {
    color: rgb(var(--rgb-foreground));
    border-color: rgb(var(--rgb-foreground));
  }
}

/* Desktop hover effects */
@media screen and (min-width: 1280px) {
  .primary:not(:disabled):hover {
    color: rgb(var(--rgb-background));
    background-color: rgb(var(--rgb-accent));
  }

  .secondary:not(:disabled):hover {
    color: rgb(var(--rgb-foreground));
    border-color: rgb(var(--rgb-foreground));
  }

  .primary:not(:disabled):active,
  .secondary:not(:disabled):active {
    opacity: 0.7;
  }
}
