.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.link {
  position: relative;
  top: 0;
  display: inline-block;
  padding-top: 40px;
  font-family: var(--font-anton);
  font-size: min(max(50px, 4.3vw), 100px);
  line-height: 0.9;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  text-shadow: 0.15vw 0.15vw 0.15vw rgba(var(--rgb-foreground), 0.4);
  outline: none;
  transition: var(--common-transition);
}

.link:focus-visible {
  color: rgb(var(--rgb-foreground-secondary));
  text-shadow: 0.15vw 0.15vw 0.15vw rgba(var(--rgb-foreground-secondary), 0.4);
}

.link:active {
  opacity: 0.7;
}

.link.covert {
  top: calc(-40px - 4.3vw / 2);
  color: rgb(var(--rgb-foreground-secondary));
  text-shadow: 0.15vw 0.15vw 0.15vw rgba(var(--rgb-foreground-secondary), 0.4);
}

.link.covert:focus-visible,
.link.current {
  top: 0;
  color: rgb(var(--rgb-foreground));
  text-shadow: 0.15vw 0.15vw 0.15vw rgba(var(--rgb-foreground), 0.4);
}

.link.current {
  pointer-events: none;
}

/* Apply styles if user has an input device capable of hovering (e.g., mouse, touchpad, or stylus) */
@media (any-hover: hover) {
  .link:hover {
    color: rgb(var(--rgb-foreground-secondary));
    text-shadow: 0.15vw 0.15vw 0.15vw rgba(var(--rgb-foreground-secondary), 0.4);
  }

  .link.covert:hover {
    top: 0;
    color: rgb(var(--rgb-foreground));
    text-shadow: 0.15vw 0.15vw 0.15vw rgba(var(--rgb-foreground), 0.4);
  }
}
