.menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: block;
    list-style-type: none;
    position: fixed;
    top: 307px;
    right: 0;
    background-color: rgb(var(--rgb-background));
    border-radius: 6px 0 0 6px;
  }

  .link {
    padding: 12px;
    display: flex;
  }

  .menu > li {
    transition: var(--common-transition);
  }

  .menu > li:first-of-type {
    border-radius: 6px 0 0 0;
  }
  .menu > li:last-of-type {
    border-radius: 0 0 0 6px;
  }

  .menu > li:first-of-type a {
    padding: 18px 12px 12px 12px;
  }

  .menu > li:last-of-type a {
    padding: 12px 12px 18px 12px;
  }

  .menu > li svg {
    width: 22px;
    height: 22px;
  }

  .menu > li:hover {
    background-color: rgb(var(--rgb-accent));
  }
}
