.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  list-style: none;
}

@media screen and (min-width: 414px) {
  .menu {
    gap: 32px;
  }
}

.link {
  position: relative;
  top: 0;
  display: inline-block;
  font-family: var(--font-anton);
  font-size: 5.6vh;
  line-height: 0.9;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0.2vh 0.2vh 0.2vh rgba(var(--rgb-foreground), 0.4);
  transition: var(--common-transition);
}

.link:hover {
  color: rgb(var(--rgb-inactive));
  text-shadow: 0.2vh 0.2vh 0.2vh rgba(var(--rgb-inactive), 0.4);
}

.link:active {
  opacity: 0.7;
}
