.menu {
  display: block;
  list-style-type: none;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  right: 0;
  background-color: rgb(var(--rgb-background-lighter));
  border: 1px solid rgb(31, 31, 31);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
}

.link {
  padding: 12px;
  display: flex;
  transition: var(--common-transition);
  color: rgb(var(--rgb-foreground));
  width: 48px;
  height: 48px;
}

.link:hover {
  background-color: rgb(var(--rgb-accent));
  color: rgb(var(--rgb-background));
}

.link:active {
  opacity: 0.7;
}
