.menu {
  position: sticky;
  top: 50vh;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  height: max-content;
  background-color: rgb(var(--rgb-background-lighter));
  border: 1px solid rgb(31, 31, 31);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  list-style: none;
}

.link {
  padding: 10px;
  display: inline-block;
  transition: var(--common-transition);
  color: rgb(var(--rgb-foreground));
  width: 40px;
  height: 40px;
  outline: none;
}

.link:focus-visible  {
  background-color: rgb(var(--rgb-accent));
  color: rgb(var(--rgb-background));
}

.link:active {
  opacity: 0.7;
}

/* Apply styles if user has an input device capable of hovering(e.g., mouse, touchpad, or stylus) */
@media (any-hover: hover) {
  .link:hover {
    background-color: rgb(var(--rgb-accent));
    color: rgb(var(--rgb-background));
  }
}
