.menu {
  display: block;
  list-style-type: none;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  right: 0;
  background-color: rgb(var(--rgb-background));
  border-radius: 6px 0 0 6px;
  overflow: hidden;
}

.link {
  padding: 12px;
  display: flex;
  transition: var(--common-transition);
  color: rgb(var(--rgb-foreground));
  width: 48px;
  height: 48px;
}

.link:hover {
  background-color: rgb(var(--rgb-accent));
  color: rgb(var(--rgb-background));
}

.link:active {
  background-color: rgba(var(--rgb-accent), 0.7);
}

.menu > li:first-of-type a {
  padding-top: 18px;
}

.menu > li:last-of-type a {
  padding-bottom: 18px;
}
