.root {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  padding-bottom: 20px;
  position: relative;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: calc(100% - (var(--page-side-padding) * 2));
  display: flex;
  flex-direction: column;
}

.badge {
  font-size: 20px;
  font-weight: 500;
}

.header {
  margin: 16px 0 24px 0;
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 33px;
}

.description {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .root {
    padding-top: 306px;
  }
  .mainWrapper {
    padding-left: 119px;
  }
  .badge {
    font-size: 20px;
  }
  .header {
    font-size: 36px;
    max-width: 600px;
  }
  .infoWrapper {
    padding-left: 50px;
  }
  .description {
    max-width: 556px;
  }
}

@media screen and (min-width: 1272px) {
  .root {
    padding-top: 137px;
  }
  .container {
    max-width: calc(
      (var(--max-content-width)) - (var(--page-side-padding) * 2)
    );
    align-items: flex-end;
  }
  .mainWrapper {
    padding-left: 0;
    max-width: 775px;
  }
  .header {
    margin: 29px 0 24px 0;
    max-width: 100%;
    font-size: 56px;
  }
  .description {
    max-width: 590px;
  }
}
