.root {
  width: 100%;
  max-width: calc(100% - (var(--page-side-padding) * 2));
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  margin: 16px 0 24px 0;
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 33px;
}

.description {
  font-size: 20px;
}

.decorWrapper {
  max-width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.decorLine1,
.decorLine2 {
  overflow: hidden;
  width: 130vw;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-anton);
  border: 1px solid #100e11;
  background-color: #f0cd30;
  color: #242424;
  font-size: 32px;
  transition: var(--common-transition);
}

.decorLine1 {
  transform: translateY(25px) rotate(17deg);
  gap: 77px;
}

.decorLine2 {
  transform: rotate(4deg);
  gap: 60px;
}

@media screen and (min-width: 768px) {
  .mainWrapper {
    padding-left: 115px;
  }
  .badge {
    font-size: 20px;
  }
  .header {
    font-size: 36px;
    max-width: 600px;
  }
  .infoWrapper {
    padding-left: 50px;
  }
  .description {
    max-width: 556px;
  }
  .decorWrapper {
    min-height: 430px;
  }
  .decorLine1,
  .decorLine2 {
    font-size: 40px;
    height: 59px;
  }

  .decorLine1 {
    gap: 140px;
    transform: translateY(40px) rotate(17deg);
  }

  .decorLine2 {
    gap: 120px;
    transform: translateX(-5px) rotate(4deg);
  }
}

@media screen and (min-width: 1272px) {
  .root {
    align-items: flex-end;
  }
  .mainWrapper {
    padding-left: 0;
    max-width: 775px;
  }
  .header {
    margin: 29px 0 24px 0;
    max-width: 100%;
    font-size: 56px;
  }
  .description {
    max-width: 590px;
  }

  .decorWrapper {
    position: absolute;
    bottom: -150px;
    left: 0;
  }
  .decorLine1 {
    transform: translateY(40px) rotate(14deg);
  }
}
