.root {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 var(--page-side-padding);
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 3;
}

@media screen and (min-width: 2560px) {
  .root {
    padding: 0 100px;
  }
}
