.root {
  position: absolute;
  bottom: 0;
}

.ribbon1,
.ribbon2 {
  position: relative;
}

.ribbon1 {
  transform: rotate(18deg);
  left: -47px;
}

.ribbon2 {
  transform: rotate(4deg);
  top: -120px;
  left: -50px;
}

@media screen and (min-width: 768px) {
  .ribbon1 {
    top: -54px;
    left: -208px;
  }

  .ribbon2 {
    top: -170px;
    left: -128px;
  }
}

@media screen and (min-width: 1272px) {
  .root {
    min-height: 300px;
  }

  .ribbon1 {
    left: -189px;
  }

  .ribbon2 {
    top: -122px;
    left: -117px;
  }
}
