.root {
  width: 100%;
  min-height: 112px;
  padding: 10px;
  font-family: var(--font-montserrat);
  font-size: 16px;
  line-height: 1.2;
  color: rgb(var(--rgb-foreground-secondary));
  background-color: transparent;
  border: 1px solid rgb(var(--rgb-foreground-secondary));
  border-radius: var(--border-radius);
  outline: none;
  resize: vertical;
  transition: var(--common-transition);
}

.root::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
  color: rgb(var(--rgb-foreground-secondary));
  transition: var(--common-transition);
}

.root:hover,
.root:focus {
  color: rgb(var(--rgb-foreground));
  border: 1px solid rgb(var(--rgb-foreground));
}

.root:hover.root::placeholder,
.root:focus.root::placeholder {
  color: rgb(var(--rgb-foreground));
}

.root.invalid {
  color: rgb(var(--rgb-error));
  border: 1px solid rgb(var(--rgb-error));
}

.root.invalid.root::placeholder {
  color: rgb(var(--rgb-error));
}

.error {
  min-height: 14px;
  margin-top: 4px;
  font-size: 14px;
  line-height: 1;
  color: rgb(var(--rgb-error));
}

/* Scrollbar */
.root::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.root::-webkit-scrollbar-thumb {
  background-color: rgb(var(--rgb-foreground-secondary), .7);
  border-radius: 6px;
}
.root:hover::-webkit-scrollbar-thumb {
  cursor: pointer;
}

.root:hover::-webkit-scrollbar-thumb,
.root:focus::-webkit-scrollbar-thumb
{
  background-color: rgb(var(--rgb-foreground));
}
