.header,
.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.body {
  gap: 30px;
}

.date {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgb(var(--rgb-foreground-secondary));
}

.title {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: rgb(var(--rgb-foreground));
}

.imgWrapper {
  width: 100%;
  aspect-ratio: 3/2;
  position: relative;
}

.img {
  object-fit: cover;
  object-position: center top;
}

@media screen and (min-width: 1180px) {
  .outline {
    min-height: 115px;
  }
}
