.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.dot {
  width: 8px;
  height: 8px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgb(var(--rgb-foreground));
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: var(--common-transition);
}

.dot:disabled {
  transform: scale(1.25);
  background-color: rgb(var(--rgb-foreground));
  cursor: auto;
}

/* Desktop hover effects */
@media screen and (min-width: 1272px) {
  .dot:not(:disabled):hover,
  .dot:not(:disabled):focus-visible {
    transform: scale(1.25);
    background-color: rgb(var(--rgb-accent));
    border-color: rgb(var(--rgb-accent));
  }
}
